@import "tailwindcss";

.contenedor {
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 40px 1fr 40px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.main {
  grid-area: main;
}
.footer {
  grid-area: footer;
}
.header {
  grid-area: header;
}
